<div class="uk-margin uk-width-3xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <table class="uk-table">
        <caption>
            Islands
        </caption>
        <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Added By</th>
        <th>Picture</th>
        <th>Update</th>
        <th>Remove</th>
        </thead>
        <tbody class="uk-text-left">
        {{#each pois}}
            <tr>
                <td>{{name}}</td>
                <td>{{description}}</td>
                <td>{{creator.firstName}} {{creator.lastName}}</td>
                <td> <img src="{{imageUrl}}" class="ui medium image"/></td>
                <td><a href="updatePoi/{{_id}}"><button class="negative ui right floated button">Update</button></a></td>
                <td><a href="deletePoi/{{_id}}"><button class="negative ui right floated button">Delete</button></a></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>